---
import Layout from '../layouts/Layout.astro';
import BookImage from '../components/BookImage.astro';

import { getCollection } from 'astro:content';

const books = await getCollection('books')
books.sort((a: any, b: any) => a.data.id - b.data.id);

export const prerender = true
---

<Layout title="JSM Ediciones - Reading books">
	
  <main>

    <section aria-label="JSM Ediciones - Reading books">
      <div class="mx-auto max-w-screen-lg">
        <div class="lg:grid lg:gap-6 lg:grid-cols-2 block">

          {
            books.map((book: any) => {
              const { slug, data } = book
              const { title, img, pages, description, language } = data

              return (
                <article>
                  
                  <a href={`/book/${slug}`}
                      class="flex
                             flex-col
                             w-full
                             justify-center
                             mb-10
                             p-3
                             lg:flex-row
                             lg:justify-between
                             lg:mb-0
                             lg:text-left
                             lg:p-0
                             transition
                             opacity-85
                             relative                            
                            bg-white
                             rounded
                             border
                             border-stone-300
                             drop-shadow-md
                             hover:scale-105
                             hover:opacity-100
                             hover:drop-shadow-lg">
                    <div class="flex justify-center">
                      <BookImage slug={slug} img={img} title={title} width="190" height="190" border={false} />
                    </div>
                                    
                    <div class="mt-5 lg:mt-0 lg:px-3 flex flex-col justify-center">
                      <h1 class="text-xl font-bold text-stone-800">
                        {title}
                      </h1>
                      <hr class="my-2 w-full">
                      <p class="mb-4 text-sm text-stone-600 max-w-sm">{description}</p>
                      <span class="text-xs"><span class="font-bold">Idioma:</span> {language === 'es' ? 'Español' : 'Inglés'} </span>
                      <span class="text-xs"><span class="font-bold">Páginas:</span> {pages} </span>
                    </div>

                  </a>

                </article>
              )
            })
          }

        </div>
      </div>
    </section>

  </main>
</Layout>